.card {
    display: flex;
    background-color: lightpink;
    color: blueviolet;
    flex-grow: 1;
    margin: 5px;
    border: 5px solid rgb(87, 0, 128);
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: firebrick;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: larger;
    line-height: 2cm;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    }
    
    .card :hover {
        background-color: lightcoral;
        color: black;
    }
      
    .card-content {
        padding: 5px;
    }
    
    .card-title-container {
        border-bottom: 5px solid rgb(199, 199, 199);
    }
    

