<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clock</title>
    <link rel="stylesheet" href="../css/estilos-generales.css">
    <link rel="stylesheet" href="../css/flex.css">
</head>

<body> 
    <div class="clock">
        <div class="time">19:50 PM</div>
        <div class="date-time">3/5/2023</div>
      </div>
    
</body>
</html>