<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex</title>
    <link rel="stylesheet" href="../css/estilos-generales.css">
    <link rel="stylesheet" href="../css/flex.css">
</head>


<body>

    <div class="card" > 
        <div>
            <img src="https://img.freepik.com/premium-vector/birthday-cake-white-background_45843-2.jpg?w=740" alt="card1">
        </div>        
    
    <div class="card content">
        <div class="card-title-container">
            <h2>Happy Birthday to You!</h2>
            <h3>On your very special day today,
                I just want to show my appreciation
                for a friend so great.
                
                You’re the best kind of person to be
                around and you’re always there for
                me. I hope you know that I’m always
                there for you too.
                
                I really am so grateful to have a
                friend like you. </h3>
        </div>
    </div>
</body>
</html>